body{
    background-color: purple;
}

.rojo{
font-size: large;
color: red;
}

.azul{
font-size: large;
color: royalblue;
}

.verde{
font-size: large;
color: green;
}
.amarillo{
font-size: large;
color: yellow;
}